@import "../../settings/variables";

.accordion-item {
  width: 100%;
  border-bottom: 1px solid $palette-light;

  .accordion-item-question {
    .accordion-item-question-button {
      width: 100%;
      text-align: left;
      position: relative;
      color: inherit;
      transition: color 400ms ease-in;

      p {
        width: calc(100% - 1.5rem);
      }

      .chevron-left-icon {
        width: 1rem;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: transform 400ms linear;
      }

      &.highlighted {
        color: $palette-dark;
      }

      &[aria-expanded="true"] {
        .chevron-left-icon {
          transform: translateY(-50%) rotate(-90deg);
          transition: transform 400ms linear;
        }
      }

      &:hover {
        color: $palette-dark;
        transition: color 400ms ease-in;
      }
    }
  }

  .accordion-item-description {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 400ms ease-in-out;

    ul {
      list-style: disc;
      padding-left: 2rem;
    }

    &.show {
      max-height: 2000px;
      padding: 0 0 0.5rem 0;
      transition: all 400ms ease-in-out;
    }

    .accordion-item-consideration {
      padding: 1rem;
      border-radius: 0.25rem;
      background-color: $palette-light;

      h3 {
        font-size: 1.25rem;
      }
    }
  }
}
