@import "../../settings/variables";

.accordion-item {
  width: 100%;
  padding-right: 1rem;
  border-bottom: 1px solid $palette-light;

  .accordion-item-question {
    .accordion-item-question-button {
      width: 100%;
      text-align: left;
      position: relative;
      color: inherit;
      transition: color 300ms ease-in;

      .chevron-left-icon {
        width: 1rem;
        position: absolute;
        top: 50%;
        right: -1rem;
        transform: translateY(-50%);
        transition: transform 300ms linear;
      }

      &.highlighted {
        color: $palette-dark;
      }

      &[aria-expanded="true"] {
        .chevron-left-icon {
          transform: translateY(-50%) rotate(-90deg);
          transition: transform 300ms linear;
        }
      }

      &:hover {
        color: $palette-dark;
        transition: color 300ms ease-in;
      }
    }
  }

  .accordion-item-description {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 300ms linear;

    ul {
      list-style: disc;
      padding-left: 2rem;
    }

    &.show {
      max-height: 1000px;
      padding: 0 0 0.5rem 0;
      transition: all 300ms linear;
    }
  }
}
