@import "../settings/variables";

.contact-wrapper {
  h2 {
    font-size: 1.5rem;
  }

  .sections-wrapper {
    display: flex;

    // Smartphone portrait
    @media only screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
  
    // Smartphone landscape
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
      flex-direction: column;
    }
  
    // Tablet portrait
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
      flex-direction: column;
    }
  
    // Tablet in landscape, desktops and laptops
    @media only screen and (min-width: $breakpoint-desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    // Large desktops
    @media only screen and (min-width: $breakpoint-xl) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
