@import "../settings/variables";

.hero-wrapper {
  width: 100vw;
  // height: calc(100vh - #{$navbar-height} - #{$footer-height-mobile});
  height: 100vh;
  // position: relative;
  // bottom: $navbar-height;
  position: absolute;
  top: 0;
  z-index: -2;
  img {
    width: 100vw;
    // height: calc(100vh - #{$navbar-height} - #{$footer-height-mobile});
    height: 100vh;
    z-index: -1;
  }
}

@media (min-width: 640px) {
  .hero-wrapper {
    width: 100vw;
    height: calc(100vh - #{$navbar-height} - #{$footer-height-tablet});
    // min-width: 100vw;
    // max-height: calc(100vh - #{$navbar-height});
    img {
      width: 100vw;
      height: calc(100vh - #{$navbar-height} - #{$footer-height-tablet});
      // min-width: 100vw;
      // max-height: calc(100vh - #{$navbar-height});
      z-index: -1;
    }
  }
}

@media (min-width: 1024px) {
  .hero-wrapper {
    width: 100vw;
    height: calc(100vh - #{$navbar-height} - #{$footer-height-laptop});
    position: relative;
    top: 0;
    img {
      width: 100vw;
      height: calc(100vh - #{$navbar-height} - #{$footer-height-laptop});
      z-index: -1;
    }
  }
}
