@import "../settings/variables";

.page-main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  color: $palette-lightest;

  // Smartphone portrait
  @media only screen and (max-width: $breakpoint-mobile) {
    font-size: 1.5rem;
  }

  // Smartphone landscape
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
    font-size: 2rem;
  }

  // Tablet portrait
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
    font-size: 2.75rem;
  }

  // Tablet in landscape, desktops and laptops
  @media only screen and (min-width: $breakpoint-desktop) {
    font-size: 3rem;
  }

  // Large desktops
  @media only screen and (min-width: $breakpoint-xl) {
    font-size: 4.5rem;
  }
}
