@import "../settings/variables";

.about-wrapper {
  .block-intro {
    h2 {
      strong,
      span {
        font-size: 1.5rem;
      }
    }
  }

  .block-values {
    display: flex;

    // Smartphone portrait
    @media only screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      justify-content: space-between;
    }

    // Smartphone landscape
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
      flex-direction: row;
      justify-content: space-between;
    }

    // Tablet portrait
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
      flex-direction: row;
      justify-content: space-between;
    }

    // Tablet in landscape, desktops and laptops
    @media only screen and (min-width: $breakpoint-desktop) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  .block-team {
    h2 {
      font-size: 1.5rem;
    }

    .section-picture {
      img {
        z-index: -1;
      }
    }

    .team-member.notary {
      display: flex;

      // Smartphone portrait
      @media only screen and (max-width: $breakpoint-mobile) {
        flex-direction: column;

        p,
        li {
          font-size: 0.875rem;
        }

        .section-picture {
          padding-left: 0rem;
          padding-right: 0rem;
        }

        .section-description {
          padding-left: 0rem;
          padding-right: 0rem;
          padding-top: 0rem;
        }
      }

      // Smartphone landscape
      @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
        flex-direction: row;
        justify-content: center;

        p,
        li {
          font-size: 0.875rem;
        }

        .section-picture {
          width: 50%;
        }

        .section-description {
          width: 50%;
        }
      }

      // Tablet portrait
      @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
        flex-direction: column;
        margin: 0 auto;

        .section-picture {
          padding-left: 0rem;
          padding-right: 0rem;
        }

        .section-description {
          padding-left: 0rem;
          padding-right: 0rem;
          padding-top: 0rem;
        }
      }

      // Tablet in landscape, desktops and laptops
      @media only screen and (min-width: $breakpoint-desktop) {
        flex-direction: row;
        justify-content: center;

        .section-picture {
          width: 50%;
        }

        .section-description {
          width: 50%;
        }
      }
    }
  }
}
