@import "../settings/variables";

.about-wrapper {
  .block-intro {
    h2 {
      font-size: 1.5rem;

      strong {
        font-size: 1.5rem;
      }
    }
  }

  .block-values {
    display: flex;

    // Smartphone portrait
    @media only screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      justify-content: space-between;
    }

    // Smartphone landscape
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
      flex-direction: row;
      justify-content: space-between;
    }

    // Tablet portrait
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
      flex-direction: row;
      justify-content: space-between;
    }

    // Tablet in landscape, desktops and laptops
    @media only screen and (min-width: $breakpoint-desktop) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
