@import "../../settings/variables";

button {
  background-color: $palette-light;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $palette-lightest;
    background-color: $palette-medium;
    box-shadow: 0 2px 6px $palette-light;
    transition: all 0.25s ease-in-out;
  }
}