@import "../../settings/variables";

.section-form {
  // Smartphone portrait
  @media only screen and (max-width: $breakpoint-mobile) {
    width: 100%;

    .inline-input {
      width: 100%;
    }
  }

  // Smartphone landscape
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
    width: 100%;

    .inline-input {
      width: calc(50% - 1rem);
    }
  }

  // Tablet portrait
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
    width: 100%;

    .inline-input {
      width: calc(50% - 1rem);
    }
  }

  // Tablet in landscape, desktops and laptops
  @media only screen and (min-width: $breakpoint-desktop) {
    width: calc(50% - 1rem);

    .inline-input {
      width: calc(50% - 1rem);
    }
  }

  // Large desktops
  @media only screen and (min-width: $breakpoint-xl) {
    width: calc(50% - 1rem);

    .inline-input {
      width: calc(50% - 1rem);
    }
  }

  .form-result.success {
    color: $input-success;
  }

  .form-result.error {
    color: $input-error;
  }
}

.input-group {
  min-height: 98px;
}

.input-group.message {
  min-height: 138px;
}
