// Fonts
$font-size: 16px;

// Colors
$tailwind-gray-300: #d1d5db;
$tailwind-gray-800: #262626;

// Heights
$navbar-height: 64px;
$footer-height-mobile: 160px;
$footer-height-tablet: 120px;
$footer-height-laptop: 100px;

// Media query breakpoints
$breakpoint-mobile: 640px;
$breakpoint-desktop: 1024px;
$breakpoint-xl: 1280px;
