// Fonts
$font-size: 16px;

// Colors
$palette-lightest: #f2e9e4;
$palette-light: #c9ada7;
$palette-medium: #9a8c98;
$palette-dark: #4a4e69;
$palette-darkest: #22223b;

$input-error: #e74c3c;
$input-success: #05af6e;

// Heights
$navbar-height: 64px;
$footer-height-mobile: 160px;
$footer-height-tablet: 120px;
$footer-height-laptop: 100px;

// Media query breakpoints
$breakpoint-mobile: 640px;
$breakpoint-desktop: 1024px;
$breakpoint-xl: 1280px;
