@import "../settings/variables";

.footer-wrapper {
  background-color: $palette-darkest;
  color: $palette-lightest;

  .phone-section {
    &:not(:last-child) {
      border-right: 1px solid $palette-lightest;
    }

    .phone-abbreviation {
      margin-right: 0.25rem;
    }
  }
}
