@import "../settings/variables";

.footer-wrapper {
  background-color: $palette-darkest;
  color: $palette-lightest;

  .phone-number {
    &:not(:last-child) {
      border-right: 1px solid $palette-lightest;
    }
  }
}
