@import "../settings/variables";

.section-map {
  position:relative;
  overflow:hidden;
  border: 1px solid $palette-light;

  // Smartphone portrait
  @media only screen and (max-width: $breakpoint-mobile) {
    width: 100%;
    height: 400px;
  }

  // Smartphone landscape
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
    width: 100%;
    height: calc(100vh - #{$navbar-height} - 2rem);
    max-height: 400px;
  }

  // Tablet portrait
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
    width: 100%;
    height: 350px;
  }

  // Tablet in landscape, desktops and laptops
  @media only screen and (min-width: $breakpoint-desktop) {
    width: calc(50% - 1rem);
    height: calc(100vh - #{$navbar-height} - #{$footer-height-laptop} - 8rem);
    max-height: 650px;
  }

  // Large desktops
  @media only screen and (min-width: $breakpoint-xl) {
    width: calc(50% - 1rem);
    height: calc(100vh - #{$navbar-height} - #{$footer-height-laptop} - 8rem);
    max-height: 650px;
  }

  iframe {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
  }
}
