@import "../settings/variables";

.team-member {
  &:not(.notary) {
    background-color: white;
    box-shadow: 0 4px 8px $palette-light;

    a {
      background-color: $palette-light;
      transition: all 0.25s ease-in-out;

      svg {
        display: inline;
        position: relative;
        bottom: 0.1rem;
      }
      &:hover {
        color: $palette-lightest;
        background-color: $palette-medium;
        box-shadow: 0 4px 8px $palette-lightest;
        transition: all 0.25s ease-in-out;
      }
    }

    // Smartphone portrait
    @media only screen and (max-width: $breakpoint-mobile) {
      max-width: 300px;

      p,
      a {
        font-size: 0.875rem;
      }
    }

    // Smartphone landscape
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
      // max-width: 320px;
      max-width: 260px;

      p,
      a {
        // font-size: 0.875rem;
        font-size: 0.75rem;

        svg {
          transform: scale(0.8);
        }
      }
    }

    // Tablet portrait
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
      max-width: 380px;
    }

    // Tablet in landscape, desktops and laptops
    @media only screen and (min-width: $breakpoint-desktop) {
      // min-width: 320px;
      min-width: 300px;
      max-width: 30%;

      p,
      a {
        font-size: 0.875rem;
      }
    }
  }
}
