@import "../settings/variables";

nav {
  button {
    z-index: 100;
  }

  // Smartphone portrait
  @media only screen and (max-width: $breakpoint-mobile) {
    background-color: transparent !important;
  }

  // Smartphone landscape
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
    background-color: transparent !important;
  }

  // Tablet portrait
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
    background-color: $tailwind-gray-800 !important;
  }

  // Tablet in landscape, desktops and laptops
  @media only screen and (min-width: $breakpoint-desktop) {
    background-color: $tailwind-gray-800 !important;
  }
}

.custom-mobile-panel {
  height: 100vh;
  position: absolute;
  top: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  &.is-open {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
}

.languages {
  text-transform: uppercase;

  li:not(:last-child) {
    border-right: 1px solid $tailwind-gray-300;
  }
}

.logo-text {
  font-family: "Alex Brush", cursive;
  font-size: 32px;
  color: $tailwind-gray-300;
  position: relative;
  bottom: 7px;
}
