@import "../settings/variables";

.navbar-wrapper {
  background-color: $palette-darkest;
  color: $palette-lightest;

  .mobile-button {
    button {
      z-index: 100;
      .x-icon,
      .menu-icon {
        color: $palette-lightest;
      }
    }
  }

  .navigation,
  .mobile-navigation {
    .is-current {
      color: white;
      background-color: $palette-dark;
    }
    .is-not-current {
      &:hover {
        color: white;
        background-color: $palette-medium;
      }
    }
  }

  .mobile-navigation {
    background-color: $palette-darkest;
  }

  // Smartphone portrait
  @media only screen and (max-width: $breakpoint-mobile) {
    .navigation {
      display: none;
    }

    .mobile-navigation {
      a {
        width: 75%;
      }
    }
  }

  // Smartphone landscape
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
    .navigation {
      display: none;
    }

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .mobile-navigation {
      a {
        width: 50%;
      }
    }
  }

  // Tablet portrait
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
    .mobile-button {
      display: none;
    }

    .mobile-navigation-wrapper {
      display: none;
    }

    .navigation {
      display: block;
    }
  }

  // Tablet in landscape, desktops and laptops
  @media only screen and (min-width: $breakpoint-desktop) {
    .mobile-button {
      display: none;
    }

    .mobile-navigation-wrapper {
      display: none;
    }

    .navigation {
      display: block;
    }
  }

  .mobile-navigation {
    height: 100vh;
    position: absolute;
    top: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    &.is-open {
      pointer-events: auto;
      opacity: 1;
      transition: opacity 0.25s ease-in-out;
    }
  }

  .languages {
    text-transform: uppercase;

    li {
      &:hover {
        color: white;
      }
    }

    li:not(:last-child) {
      border-right: 1px solid $palette-lightest;
    }
  }

  .logo-text {
    font-family: "Alex Brush", cursive;
    font-size: 32px;
    color: $palette-lightest;
    position: relative;
    bottom: 7px;
  }
}

.navbar-wrapper.is-front-page {
  @media only screen and (max-width: $breakpoint-mobile) {
    background-color: transparent !important;
    transition: background-color 0.75s ease-in-out;
  }

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
    background-color: transparent !important;
    transition: background-color 0.75s ease-in-out;
  }

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
    background-color: $palette-darkest !important;
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    background-color: $palette-darkest !important;
  }
}

.navbar-wrapper.is-front-page.scrolled {
  background-color: $palette-darkest !important;
  transition: background-color 0.75s ease-in-out;
}
