@import "../settings/variables";

.block-team {
  h2 {
    font-size: 1.5rem;
  }

  .slider {
    .slick-track {
      display: flex;
      align-items: center;
    }

    .slick-dots {
      li button {
        &:before {
          color: $palette-light;
          opacity: 1;
          font-size: 9px;
        }

        &:hover {
          &:before {
            color: $palette-dark;
          }
        }
      }

      li.slick-active button {
        &:before {
          color: $palette-dark;
        }
      }
    }
  }
}
