@import "../settings/variables";

.value-item {
  // Smartphone portrait
  @media only screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }

  width: 31%;

  background-color: whitesmoke;

  border: 2px solid $palette-light;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px $palette-medium;

  .card-header {
    border-bottom: 2px solid $palette-light;

    .value-icon {
      svg {
        width: 128px;
      }
    }
  }
}
