@import "../../../settings/variables";

.last-will-bg-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  filter: grayscale(100%);
  color: $palette-lightest;
}
