@import "../../../settings/variables";

.real-estate-bg-image {
  background-position: 25% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: relative;

  filter: grayscale(100%);
  color: $palette-darkest;
}
