@import "../settings/variables";

.service-details-wrapper {
  h2 {
    font-size: 1.5rem;
  }

  .service-details-image {
    border: 1px solid $palette-light;
    border-radius: 0.5rem;
    overflow: hidden;

    // Smartphone portrait
    @media only screen and (max-width: $breakpoint-mobile) {
      height: 250px;
    }

    // Smartphone landscape
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
      height: 250px;
    }

    // Tablet portrait
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
      height: 300px;
    }

    // Tablet in landscape, desktops and laptops
    @media only screen and (min-width: $breakpoint-desktop) {
      height: 350px;
    }

    // Large desktops
    @media only screen and (min-width: $breakpoint-xl) {
      height: 400px;
    }
  }
}
