@import "../../settings/variables";

.team-member {
  &:not(.notary) {
    background-color: white;
    box-shadow: 0 4px 8px $palette-light;

    a {
      background-color: $palette-light;
      transition: all 0.25s ease-in-out;

      svg {
        display: inline;
        position: relative;
        bottom: 0.1rem;
      }
      &:hover {
        color: $palette-lightest;
        background-color: $palette-medium;
        box-shadow: 0 4px 8px $palette-lightest;
        transition: all 0.25s ease-in-out;
      }
    }

    // Smartphone portrait
    @media only screen and (max-width: $breakpoint-mobile) {
      width: 300px;
      height: 490px;

      p,
      a {
        font-size: 0.875rem;
      }
    }

    // Smartphone landscape
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
      width: 260px;
      height: 360px;

      h3 {
        font-size: 1rem;
      }

      p {
        margin-bottom: 0.5rem;
      }

      p,
      a {
        font-size: 0.75rem;

        svg {
          transform: scale(0.8);
        }
      }
    }

    // Tablet portrait
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
      width: 400px;
      height: 640px;
    }

    // Tablet in landscape, desktops and laptops
    @media only screen and (min-width: $breakpoint-desktop) {
      width: 280px;
      height: 390px;

      p,
      a {
        font-size: 0.75rem;
      }
    }

    // Large desktop
    @media only screen and (min-width: $breakpoint-xl) {
      width: 340px;
      height: 480px;

      p,
      a {
        font-size: 1rem;
      }
    }
  }
}
