@import "../../../settings/variables";

.copyist-bg-image {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  // Smartphone portrait
  @media only screen and (max-width: $breakpoint-mobile) {
    width: calc(300px - 2rem);
    height: calc(380px - 2rem);
  }

  // Smartphone landscape
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
    width: calc(260px - 2rem);
    height: calc(270px - 2rem);
  }

  // Tablet portrait
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
    width: calc(400px - 2rem);
    height: 500px;
  }

  // Tablet in landscape, desktops and laptops
  @media only screen and (min-width: $breakpoint-desktop) {
    width: calc(280px - 2rem);
    height: 265px;
  }

  // Large desktop
  @media only screen and (min-width: $breakpoint-xl) {
    width: calc(340px - 2rem);
    height: 340px;
  }
}
