@import "settings/variables";
@import "settings/typography";

@import "tools/functions";
@import "tools/mixins";
@import "tools/placeholders";

@import "vendors/tailwind";

* {
  font-family: "Open Sans", sans-serif;
  font-size: $font-size;
}

body {
  color: $palette-darkest;
  background-color: $palette-lightest;
}

main {
  // Smartphone portrait
  @media only screen and (max-width: $breakpoint-mobile) {
    min-height: calc(100vh - #{$navbar-height});
  }

  // Smartphone landscape
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
    min-height: calc(100vh - #{$navbar-height});
  }

  // Tablet portrait
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
    min-height: calc(100vh - #{$navbar-height} - #{$footer-height-tablet});
  }

  // Tablet in landscape, desktops and laptops
  @media only screen and (min-width: $breakpoint-desktop) {
    min-height: calc(100vh - #{$navbar-height} - #{$footer-height-laptop});
  }
}
