@import "settings/variables";
@import "settings/typography";

@import "tools/functions";
@import "tools/mixins";
@import "tools/placeholders";

@import "vendors/tailwind";

* {
  font-family: "Open Sans", sans-serif;
  font-size: $font-size;
}

// Smartphone portrait
@media only screen and (max-width: 640px) {
  main {
    min-height: calc(100vh - #{$navbar-height});
  }
}

// Smartphone landscape
@media only screen and (min-width: 640px) and (max-width: 1024px) and (orientation: landscape) {
  main {
    min-height: calc(100vh - #{$navbar-height});
  }
}

// Tablet portrait
@media only screen and (min-width: 640px) and (max-width: 1024px) and (orientation: portrait) {
  main {
    min-height: calc(100vh - #{$navbar-height} - #{$footer-height-tablet});
  }
}

// Tablet in landscape, desktops and laptops
@media only screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - #{$navbar-height} - #{$footer-height-tablet});
  }
}
