@import "../../settings/variables";

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: inherit;

  .service-card {
    width: calc((100% / 3) - 1.5rem);
    height: inherit;
  }
}
